.banner {
  &.not-home {
    .banner-content {
      display: none;
    }
    .banner-wrapper {
      height: 620px;
      &::before {
        content: unset;
      }
    }
  }
  &-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      background: linear-gradient(
        180deg,
        rgba(17, 36, 72, 0) 55%,
        rgba(17, 36, 72, 0.8) 90%
      );
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-video {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    position: absolute;
    z-index: 2;
    left: 40px;
    bottom: 40px;
    max-width: calc(calc(5 / 12) * 100%);
    @media (max-width: 991px) {
      left: 20px;
      bottom: 20px;
      right: 20px;
      max-width: calc(100% - 40px);
    }
    .title {
      margin-bottom: 12px;
    }
    .description {
      margin-bottom: 40px;
    }
  }
}
