.faq {
  padding-bottom: 80px;
  padding-top: 40px;
  @media (max-width: 991px) {
    padding-bottom: 40px;
  }

  .title {
    margin-bottom: 48px;
  }

  .image {
    width: 100%;
    aspect-ratio: 1;
    max-height: 360px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .desc {
    padding-left: 40px;
    height: 360px;
    padding-right: 20px;
    overflow-y: scroll;

    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-primary);
    overflow-y: scroll;

    * {
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li {
      margin-bottom: 4px;
    }

    ul {
      padding-left: 16px;
      list-style: disc;
    }

    ol {
      padding-left: 16px;
      list-style: decimal;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-secondary);
    }
  }
}
