.form-register {
  padding-bottom: 115px;
  padding-top: 48px;
  position: relative;
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  &.no-artwork {
    padding-bottom: 48px;
    &::before {
      content: unset;
    }
  }
  &.no-form {
    padding: 90px 0;
    @media (max-width: 991px) {
      padding: 80px 20px;
    }
    .title {
      margin-bottom: 24px;
    }
    button {
      max-width: 440px;
      width: 100%;
    }
    .btn-register {
      position: relative;
      z-index: 2;
    }
  }
  &::before {
    content: "";
    bottom: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 295px;
    z-index: 2;
    background-image: url("../../images/icon/artwork.svg");
    background-size: 100% auto;
    transform: scaleX(-1);
    pointer-events: none;
    @media (max-width: 991px) {
      background-size: cover;
      bottom: -100px;
    }
  }
  .form-register-top {
    margin-bottom: 48px;
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
    .title {
      margin-bottom: 8px;
    }
  }
  .form-register-wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px #0000001a;
    padding: 40px;
    @media (max-width: 991px) {
      padding: 20px;
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      position: relative;
      z-index: 4;
      @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
      }
      .form-field {
        position: relative;
        input {
          width: 100%;
          border: none;
          font-size: 15px;
          line-height: 24px;
          font-weight: 500;
          padding-bottom: 6px;
          border-bottom: 1px solid rgba(26, 61, 78, 0.3);
          color: var(--color-text);
          &:not(:placeholder-shown),
          &:focus,
          &:focus-visible {
            & + label {
              transform: translateY(-100%);
              font-size: 10px;
              line-height: 14px;
            }
          }

          &.error {
            border-color: #ff0000;
          }
        }
        label {
          position: absolute;
          font-size: 15px;
          line-height: 24px;
          font-weight: 500;
          left: 0;
          transition: all 0.4s ease;
          pointer-events: none;

          span {
            color: #ff0000;
          }
        }
      }
    }
  }
  .dropdown-custom-select {
    position: relative;
    .dropdown-custom-menu {
      position: absolute;
      left: 0;
      width: calc(100% + 12px);
      z-index: 1;
      background-color: #fff;
      bottom: 0;
      left: -12px;
      transform: translateY(100%);
      clip-path: inset(0 0 100% 0);
      transition: clip-path 0.3s ease;
      will-change: clip-path;
      display: flex;
      padding: 12px;
      flex-direction: column;
      gap: 12px;
      background-color: var(--color-primary);
      &.dropdown--active {
        clip-path: inset(0 0 0 0);
      }
    }
    .dropdown-custom-text,
    .dropdown-custom-item {
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
      span {
        color: #ff0000;
      }
    }
    .dropdown-custom-item {
      color: #fff;
    }
  }
  .dropdown-custom-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(26, 61, 78, 0.3);
    padding-bottom: 6px;

    &:has(.dropdown-custom-text.error) {
      border-color: #ff0000;
    }
  }
  button {
    grid-column: 1 / 3;
    background-color: var(--color-primary);
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    height: 40px;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-secondary);
    }
  }
  .form-text-area {
    position: relative;
    grid-column: 1 / 3;
    @media (max-width: 991px) {
      margin-top: 16px;
    }
    textarea {
      resize: none;
      width: 100%;
      border: none;
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
      border-bottom: 1px solid rgba(26, 61, 78, 0.3);
      color: var(--color-text);

      &:not(:placeholder-shown),
      &:focus,
      &:focus-visible {
        & + label {
          transform: translateY(-100%);
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    label {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
      transition: all 0.4s ease;
      pointer-events: none;
    }
  }
}
.contact-wrap-right {
  padding-left: calc(calc(1 / 12) * 100% + 40px);
  padding-right: calc(calc(1 / 12) * 100% + 40px);
  padding-top: 107px;
  position: relative;
  z-index: 3;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 991px) {
      gap: 16px;
    }
    &-item {
      .title {
        margin-bottom: 12px;
      }
      a {
        transition: color 0.3s ease;
        &:hover {
          color: var(--color-secondary);
        }
      }
      ul {
        display: flex;
        align-items: center;
        gap: 24px;
        li {
          a {
            &:hover {
              svg {
                path {
                  fill: var(--color-secondary);
                }
              }
            }
            svg {
              path {
                transition: all 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
}
