.global-btn {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  background-color: var(--color-secondary);
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
    background-color: var(--color-third);
  }
}
