#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header {
  &-container {
    background-color: #fff;
    padding: 9px 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    border-bottom: 1px solid var(--color-primary);
    @media (max-width: 991px) {
      padding: 8.5px 20px;
      height: 60px;
    }
  }
  &-logo {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
    }
    a {
      @media (max-width: 991px) {
        display: block;
        width: 125px;
        height: auto;
      }
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #fff;
      height: calc(100vh - 60px);
      align-items: flex-start;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      &.active {
        transform: translateX(0);
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding: 24px;
      }
      li {
        @media (max-width: 991px) {
          width: 100%;
          text-align: right;
          border-bottom: 1px solid rgba(#112448, 0.1);
          padding-bottom: 4px;
        }
        a {
          display: inline-block;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: var(--color-primary);
          transition: color 0.3s ease-in-out;
          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
  &-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 991px) {
      grid-column: 3 / 4;
      gap: 18px;
    }
    .logion-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      @media (max-width: 991px) {
        border-right: 1px solid rgba(#112448, 0.21);
        padding-right: 18px;
      }
      .login-text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: var(--color-primary);
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
  &-hambuger {
    display: none;
    @media (max-width: 991px) {
      display: block;
    }
    .icon {
      width: 19px;
      height: 10px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        inset: -18px;
      }
      &.active {
        span {
          &:nth-child(1) {
            top: 4.5px;
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: 4.5px;
            transform: rotate(-135deg);
          }
        }
      }
      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-primary);
        left: 0;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 4.5px;
        }
        &:nth-child(3) {
          top: 9px;
        }
      }
    }
  }
}
