#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header {
  &-container {
    background-color: #fff;
    padding: 9px 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    border-bottom: 1px solid var(--color-primary);
  }
  &-menu {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      li {
        a {
          display: inline-block;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: var(--color-primary);
          transition: color 0.3s ease-in-out;
          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
  &-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .logion-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      .login-text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: var(--color-primary);
      }
    }
  }
}
