.instruct {
  padding-bottom: 86px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  &::before {
    content: "";
    bottom: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 295px;
    z-index: 2;
    background-image: url("../../images/icon/artwork.svg");
    background-size: 100% 100%;
    transform: scaleX(-1);
    pointer-events: none;
  }
  &-title {
    margin-bottom: 48px;
  }
  &-video {
    position: relative;
    .ic-control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 30px;
      height: 30px;
      background-color: var(--color-primary);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 6px;
        height: 7px;
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
    z-index: 3;
  }
  &-name {
    background-color: #fff;
    padding: 24px;
  }
  &-item {
    box-shadow: 0px 0px 10px 5px #0000001a;
  }
}
