.my-course {
  margin-top: 60px;

  &-wrapper {
    padding: 80px 40px 40px;

    @media (max-width: 991px) {
      padding: 40px 20px;
    }

    .col-left {
      padding-right: calc(100% / 12);

      @media (max-width: 991px) {
        padding-right: 0;
      }

      .desc {
        margin-top: 34px;
        color: rgba(17, 36, 72, 0.5);
      }
    }

    .col-right {
      @media (max-width: 991px) {
        margin-top: 32px;
      }

      .nav-tabs {
        justify-content: flex-start;
        margin-bottom: 24px;
        padding-bottom: 13px;
        gap: 48px;
        border-bottom: 1px dashed rgba(17, 36, 72, 0.5);

        .nav-link {
          border-radius: unset;
          border: none;
          padding: 0;
          transition: all 0.4s ease;
          position: relative;

          &.active,
          &:hover {
            color: var(--color-primary);
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -13px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: var(--color-primary);
            opacity: 0;
            transition: opacity 0.4s ease;
          }

          &.active::after,
          &:hover::after {
            opacity: 1;
          }
        }
      }

      .fade {
        transition: opacity 0.3s linear;
      }

      .course-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media (max-width: 991px) {
          grid-template-columns: 1fr;
          gap: 40px;
        }

        .course-item {
          .name {
            margin-bottom: 0;
          }

          .course-teacher {
            margin-top: 40px;
            margin-bottom: 0;
            padding-top: 0;
            border-top: unset;
          }

          .course-progress {
            padding: 16px 0;
            display: flex;
            align-items: center;
            gap: 25px;

            .text {
              width: 50px;
            }

            .progress-bar {
              flex: 1;
              position: relative;
              width: 100%;
              height: 12px;
              border-radius: 50px;
              border: 1px solid var(--color-primary);
              overflow: hidden;
              background: var(--color-white);
              box-shadow: inset 0 0 2px 0 rgba(17, 36, 72, 0.2);

              &::before {
                content: "";
                position: absolute;
                left: 2px;
                top: 2px;
                height: calc(100% - 4px);
                width: calc(var(--progress) - 4px);
                background: var(--color-secondary);
                // border-radius: inherit;
                transition: width 0.3s ease;
                border-radius: 50px 0 0 50px;
              }

              .progress-value {
                position: absolute;
                right: 50%;
                transform: translateX(50%);
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 8px;
                line-height: 11px;
                font-weight: 600;
                color: var(--color-primary);
                pointer-events: none;
              }
            }
          }

          .course-cta {
            padding-top: 16%px;
            a {
              background-color: var(--color-white);
              font-size: 12px;
              line-height: 1;
              font-weight: 600;
              color: var(--color-primary);
              border: 1px solid var(--color-primary);
              text-transform: uppercase;
              height: 40px;
              transition: all 0.3s;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
}
