.news-detail {
  &-wrapper {
    padding: 80px 0;
    border-bottom: 1px solid rgba(17, 36, 72, 0.1);
    .date {
      margin-top: 8px;
    }

    .the-content {
      margin-top: 24px;
      p {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 12px;
      }

      .wp-block-image {
        margin: 24px 0;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      * {
        font-size: 17px;
        line-height: 24px;
        color: var(--color-primary);

        &:last-child {
          margin-bottom: 0;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 24px;
        margin-bottom: 27px;
        margin-bottom: 12px;
        font-weight: bold;
      }

      ul {
        list-style: disc;
        padding-left: 16px;
        margin-bottom: 12px;
      }

      ol {
        list-style: decimal;
        padding-left: 16px;
        margin-bottom: 12px;
      }

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }
}
