.our-services {
  background: linear-gradient(180deg, #3b527c -7.67%, #132349 100%);
  padding: 80px 0 100px;
  @media (max-width: 991px) {
    padding: 40px 20px;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
  &-title {
    margin-bottom: 80px;
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }
  }
  &-item {
    .icon {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      .description {
        text-align: center;
      }
    }
  }
}
