.profile {
  padding: 40px 40px 80px;
  position: relative;
  &::before {
    content: "";
    bottom: -30px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 295px;
    z-index: 3;
    background-image: url("../../images/icon/artwork.svg");
    background-size: 100% 100%;
    pointer-events: none;
  }
  &-image {
    width: 100%;
    aspect-ratio: 555 / 620;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    padding-left: calc(calc(1 / 12) * 100% + 48px);
    padding-right: calc(calc(1 / 12) * 100% + 48px);
    background-color: #f6f6f6;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ic-student {
      position: absolute;
      right: 8px;
      top: 0;
    }
    .name {
      margin-bottom: 8px;
    }
    .position {
      margin-bottom: 24px;
    }
  }
  &-detail {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &-item {
      ul {
        list-style-type: disc;
        padding-left: 22px;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
    }
  }
}
