.section-news {
  padding: 48px 0;

  .nav-tabs {
    justify-content: center;
    margin-bottom: 48px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(17, 36, 72, 0.1);

    .nav-link {
      border-radius: unset;
      border: none;
      padding: 0 12px;
      transition: all 0.4s ease;

      &.active,
      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  .fade {
    transition: opacity 0.3s linear;
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;

  li {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }
}

.news-item {
  position: relative;

  .item {
    &-image {
      width: 100%;
      aspect-ratio: 363 / 242;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
      }
    }

    &-content {
      padding: 24px;

      .title {
        transition: all 0.4s ease;
      }

      .desc {
        margin-top: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }

  .date {
    width: 64px;
    height: 64px;
    background-color: var(--color-white);

    position: absolute;
    z-index: 3;
    top: 16px;
    left: 16px;
  }

  &:hover {
    .item-image img {
      transform: scale(1.05);
    }

    .title {
      color: var(--color-secondary);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  gap: 12px;
  @media (max-width: 991px) {
    margin-top: 16px;
  }
  .page-number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    color: var(--color-primary);
    transition: all 0.4s ease;
    border: 1px solid var(--color-primary);

    @media (max-width: 991px) {
      width: 30px;
      height: 30px;
    }
    &:hover,
    &.active {
      background-color: var(--color-secondary);
      color: var(--color-white);
      border-color: var(--color-secondary);
    }

    &.active {
      pointer-events: none;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
