.training {
  padding: 48px 30px 38px;
  background-color: #ffffff;
  @media (max-width: 991px) {
    padding: 40px 10px 40px;
    background-color: #f8f8f8;
  }
  &-title {
    margin-bottom: 38px;
  }
  .swiper {
    padding: 10px;
    overflow: hidden;
  }
  &-item {
    box-shadow: 0px 0px 10px 5px #0000001a;
    &:hover {
      .training-image img {
        transform: scale(1.05);
      }
    }
  }
  &-image {
    aspect-ratio: 325 / 217;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }
  &-content {
    padding: 24px;
  }
  &-top {
    .name {
      margin-bottom: 8px;
    }
  }
  &-list {
    position: relative;
    @media (max-width: 991px) {
      padding-bottom: 64px;
    }
  }
  .swiper-button-prev {
    left: -20px;
    @media (max-width: 991px) {
      left: calc(50% - 45px);
    }
  }
  .swiper-button-next {
    right: -20px;
    @media (max-width: 991px) {
      right: calc(50% - 45px);
    }
  }
  .custom-btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin-top: -20px;
    transition: all 0.3s ease;
    @media (max-width: 991px) {
      bottom: 0;
      top: auto;
    }
    &:hover {
      background-color: var(--color-primary);
      svg {
        path {
          stroke: #fff;
        }
      }
    }
    &::after {
      content: "";
      font-size: 0;
    }
    svg {
      width: 13px;
      height: 9px;
      path {
        transition: all 0.3s ease;
      }
    }
  }
}
