.training {
  padding: 48px 30px;
  background-color: #ffffff;
  &-title {
    margin-bottom: 48px;
  }
  .swiper {
    padding: 10px;
    overflow: hidden;
  }
  &-item {
    box-shadow: 0px 0px 10px 5px #0000001a;
  }
  &-image {
    aspect-ratio: 325 / 217;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    padding: 24px;
  }
  &-top {
    .name {
      margin-bottom: 8px;
    }
  }
  &-list {
    position: relative;
  }
  .swiper-button-prev {
    left: -20px;
  }
  .swiper-button-next {
    right: -20px;
  }
  .custom-btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin-top: -20px;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--color-primary);
      svg {
        path {
          stroke: #fff;
        }
      }
    }
    &::after {
      content: "";
      font-size: 0;
    }
    svg {
      width: 13px;
      height: 9px;
      path {
        transition: all 0.3s ease;
      }
    }
  }
}
