.value {
  &-wrapper {
    display: flex;
  }
  &-image {
    width: 50%;
    .img {
      width: 100%;
      aspect-ratio: 555 / 370;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-content {
    width: 50%;
    position: relative;
    .art-work {
      position: absolute;
      bottom: 0;
      left: -15%;
      z-index: -1;
    }
  }
  &-box {
    padding-left: 80px;
    padding-right: calc(calc(1 / 12) * 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  &-item {
    margin-bottom: 48px;
    &-ul {
      .title {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    &:nth-child(1) {
      .art-work {
        position: absolute;
        bottom: 0;
        transform: rotate(-90deg);
        right: 0;
        z-index: -1;
      }
    }
    &:nth-child(2) {
      .art-work {
        position: absolute;
        bottom: 0;
        transform: rotate(-90deg);
        right: 0;
        z-index: -1;
      }
      .value-wrapper {
        flex-direction: row-reverse;
      }
      ul.desc {
        list-style-type: disc;
        padding-left: 22px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    &:last-child {
      margin-bottom: 0;
      .value-image {
        .img {
          width: 100%;
          aspect-ratio: 555 / 600;
        }
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    ul {
      list-style-type: disc;
      padding-left: 22px;
      li {
        p {
          font-size: 15px;
          line-height: 24px;
          color: var(--color-primary);
        }
      }
    }
  }
}
