:root {
  --color-primary: #112448;
  --color-secondary: #d9a640;
}
.b2-font-r {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.b2-font-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.color-white {
  color: #ffffff;
}
