:root {
  --color-primary: #112448;
  --color-secondary: #d9a640;
  --color-third: #50984f;
}
.b2-font-r {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.btn-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.b2-font-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.color-white {
  color: #ffffff;
}
.h2-font {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}
.b1-font-r {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.b1-font-b {
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
}
