@use "./variable";
@use "./reset";
@use "./global";
@use "./header";
@use "./footer";
@use "./banner";
@use "./profile";
@use "./introduction";
@use "./course";
@use "./training";
@use "./team";
@use "./info";
@use "./form";
@use "./value";
@use "./ourvalue";
@use "./instruct";
@use "./feedback";
@use "./sectionNews";
