<div class="header-container">
  <div class="header-logo">
    <a href="./index.html">
      <img src="./assets/images/icon/logo-header.svg" alt="" />
    </a>
  </div>
  <div class="header-menu">
    <ul>
      <li>
        <a href="./index.html">Trang chủ</a>
      </li>
      <li>
        <a href="./about.html">Giới thiệu</a>
      </li>
      <li>
        <a href="">Khóa học</a>
      </li>
      <li>
        <a href="">Cảm nhận học viên</a>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Cộng đồng</a>
      </li>
      <li>
        <a href="">Liên hệ</a>
      </li>
      <li>
        <a href="">Khóa học của tôi</a>
      </li>
    </ul>
  </div>
  <div class="header-login">
    <div class="logion-wrapper">
      <div class="icon">
        <img src="./assets/images/icon/user-circle.svg" alt="" />
      </div>
      <div class="login-text">Đăng nhập</div>
    </div>
  </div>
</div>
