:root {
  --color-primary: #112448;
  --color-secondary: #d9a640;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Montserrat", sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-container {
  background-color: #fff;
  padding: 9px 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid var(--color-primary);
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu ul li a {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}
.header-menu ul li a:hover {
  color: var(--color-secondary);
}
.header-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-login .logion-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-login .logion-wrapper .login-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
}