:root {
  --color-primary: #112448;
  --color-secondary: #d9a640;
  --color-third: #50984f;
}

.b2-font-r {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.b2-font-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.color-white {
  color: #ffffff;
}

.h2-font {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.b1-font-r {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

.color-primary {
  color: var(--color-primary);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Montserrat", sans-serif;
}

.global-btn {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  background-color: var(--color-secondary);
  transition: all 0.3s ease;
}
.global-btn:hover {
  color: #fff;
  background-color: var(--color-third);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-container {
  background-color: #fff;
  padding: 9px 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid var(--color-primary);
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu ul li a {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}
.header-menu ul li a:hover {
  color: var(--color-secondary);
}
.header-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-login .logion-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-login .logion-wrapper .login-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
}

.footer-container {
  padding: 30px 40px 45px;
  background-color: var(--color-primary);
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 4fr 2fr;
  gap: 24px;
}
.footer-title {
  margin-bottom: 24px;
}
.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-contact ul li .address,
.footer-contact ul li .phone,
.footer-contact ul li .mail {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.footer-contact ul li .address .icon,
.footer-contact ul li .phone .icon,
.footer-contact ul li .mail .icon {
  width: 16px;
  height: 16px;
  transform: translateY(4px);
}
.footer-contact ul li .address .icon svg,
.footer-contact ul li .phone .icon svg,
.footer-contact ul li .mail .icon svg {
  width: 16px;
  height: 16px;
  max-width: unset;
}
.footer-contact ul li .phone a,
.footer-contact ul li .mail a {
  transition: color 0.3s ease-in-out;
}
.footer-contact ul li .phone a:hover,
.footer-contact ul li .mail a:hover {
  color: var(--color-secondary);
}
.footer-menu ul.menu {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 64px;
}
.footer-menu ul.menu li a {
  transition: color 0.3s ease-in-out;
}
.footer-menu ul.menu li a:hover {
  color: var(--color-secondary);
}
.footer-follow ul.follow-us {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-follow ul.follow-us li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-follow ul.follow-us li a .text {
  transition: color 0.3s ease-in-out;
}
.footer-follow ul.follow-us li a .text:hover {
  color: var(--color-secondary);
}
.footer-bottom {
  background-color: #070730;
  padding: 10px 40px;
}
.footer-copyright, .footer-create {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.banner-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(17, 36, 72, 0) 55%, rgba(17, 36, 72, 0.8) 90%);
}
.banner-image {
  width: 100%;
  height: 100%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-content {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 40px;
  max-width: 41.6666666667%;
}
.banner-content .title {
  margin-bottom: 12px;
}
.banner-content .description {
  margin-bottom: 40px;
}

.profile {
  padding: 40px 40px 80px;
}
.profile-image {
  width: 100%;
  aspect-ratio: 555/620;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-content {
  padding-left: calc(8.3333333333% + 48px);
  padding-right: calc(8.3333333333% + 48px);
  background-color: #f6f6f6;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-content .ic-student {
  position: absolute;
  right: 8px;
  top: 0;
}
.profile-content .name {
  margin-bottom: 8px;
}
.profile-content .position {
  margin-bottom: 24px;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile-detail-item ul {
  list-style-type: disc;
  padding-left: 22px;
}
.profile-detail-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}