:root {
  --color-primary: #112448;
  --color-secondary: #d9a640;
  --color-third: #50984f;
}

.b2-font-r {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.btn-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.b2-font-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.color-white {
  color: #ffffff;
}

.h2-font {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.b1-font-r {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.b1-font-b {
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Montserrat", sans-serif;
}

.global-btn {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  background-color: var(--color-secondary);
  transition: all 0.3s ease;
}
.global-btn:hover {
  color: #fff;
  background-color: var(--color-third);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-container {
  background-color: #fff;
  padding: 9px 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid var(--color-primary);
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu ul li a {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}
.header-menu ul li a:hover {
  color: var(--color-secondary);
}
.header-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-login .logion-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-login .logion-wrapper .login-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
}

.footer-container {
  padding: 30px 40px 45px;
  background-color: var(--color-primary);
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 4fr 2fr;
  gap: 24px;
}
.footer-title {
  margin-bottom: 24px;
}
.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-contact ul li .address,
.footer-contact ul li .phone,
.footer-contact ul li .mail {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.footer-contact ul li .address .icon,
.footer-contact ul li .phone .icon,
.footer-contact ul li .mail .icon {
  width: 16px;
  height: 16px;
  transform: translateY(4px);
}
.footer-contact ul li .address .icon svg,
.footer-contact ul li .phone .icon svg,
.footer-contact ul li .mail .icon svg {
  width: 16px;
  height: 16px;
  max-width: unset;
}
.footer-contact ul li .phone a,
.footer-contact ul li .mail a {
  transition: color 0.3s ease-in-out;
}
.footer-contact ul li .phone a:hover,
.footer-contact ul li .mail a:hover {
  color: var(--color-secondary);
}
.footer-menu ul.menu {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 64px;
}
.footer-menu ul.menu li a {
  transition: color 0.3s ease-in-out;
}
.footer-menu ul.menu li a:hover {
  color: var(--color-secondary);
}
.footer-follow ul.follow-us {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-follow ul.follow-us li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-follow ul.follow-us li a .text {
  transition: color 0.3s ease-in-out;
}
.footer-follow ul.follow-us li a .text:hover {
  color: var(--color-secondary);
}
.footer-bottom {
  background-color: #070730;
  padding: 10px 40px;
}
.footer-copyright, .footer-create {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.banner-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(17, 36, 72, 0) 55%, rgba(17, 36, 72, 0.8) 90%);
}
.banner-image {
  width: 100%;
  height: 100%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-content {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 40px;
  max-width: 41.6666666667%;
}
.banner-content .title {
  margin-bottom: 12px;
}
.banner-content .description {
  margin-bottom: 40px;
}

.profile {
  padding: 40px 40px 80px;
  position: relative;
}
.profile::before {
  content: "";
  bottom: -30px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 295px;
  z-index: 3;
  background-image: url("../../images/icon/artwork.svg");
  background-size: 100% 100%;
}
.profile-image {
  width: 100%;
  aspect-ratio: 555/620;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-content {
  padding-left: calc(8.3333333333% + 48px);
  padding-right: calc(8.3333333333% + 48px);
  background-color: #f6f6f6;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-content .ic-student {
  position: absolute;
  right: 8px;
  top: 0;
}
.profile-content .name {
  margin-bottom: 8px;
}
.profile-content .position {
  margin-bottom: 24px;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile-detail-item ul {
  list-style-type: disc;
  padding-left: 22px;
}
.profile-detail-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.introduction {
  padding: 0 40px 48px;
}
.introduction-title {
  position: relative;
  z-index: 4;
  margin-bottom: 48px;
}
.introduction-wrapper {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 24px;
}
.introduction-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
  max-width: 380px;
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
  padding: 20px;
}
.introduction-item .icon {
  min-width: 60px;
}
.introduction .col-left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
}
.introduction .col-left ul li:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.introduction .col-left ul li:last-child {
  margin-left: 60px;
}
.introduction-video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 785/525;
}
.introduction-video-wrapper .ic-control {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}
.introduction .swiper-button-prev {
  left: -20px;
}
.introduction .swiper-button-next {
  right: -20px;
}

.course {
  padding: 48px 30px 38px;
  background-color: #f8f8f8;
}
.course-title {
  margin-bottom: 38px;
}
.course .course-list {
  position: relative;
}
.course .course-list .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-top: -15px;
  transition: all 0.3s ease;
}
.course .course-list .custom-btn:hover {
  background-color: var(--color-primary);
}
.course .course-list .custom-btn:hover svg path {
  stroke: #fff;
}
.course .course-list .custom-btn::after {
  content: "";
  font-size: 0;
}
.course .course-list .custom-btn svg {
  width: 13px;
  height: 9px;
}
.course .course-list .custom-btn svg path {
  transition: all 0.3s ease;
}
.course-item {
  position: relative;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
}
.course-item:hover .course-image img {
  transform: scale(1.05);
}
.course .swiper {
  padding: 10px;
  overflow: hidden;
}
.course-content {
  padding: 24px 24px 16px;
}
.course-content .course-teacher {
  padding: 16px 0;
  border-top: 1px solid rgba(17, 36, 72, 0.1);
  border-bottom: 1px solid rgba(17, 36, 72, 0.1);
  margin: 16px 0;
  gap: 8px;
}
.course-content .course-top .name {
  margin-bottom: 8px;
}
.course-content .course-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-content .course-bottom .btn-register {
  gap: 8px;
}
.course-image {
  overflow: hidden;
  aspect-ratio: 440/294;
}
.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.course .swiper-button-prev {
  left: -20px;
}
.course .swiper-button-next {
  right: -20px;
}

.training {
  padding: 48px 30px 38px;
  background-color: #ffffff;
}
.training-title {
  margin-bottom: 38px;
}
.training .swiper {
  padding: 10px;
  overflow: hidden;
}
.training-item {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
}
.training-item:hover .training-image img {
  transform: scale(1.05);
}
.training-image {
  aspect-ratio: 325/217;
  width: 100%;
  overflow: hidden;
}
.training-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.training-content {
  padding: 24px;
}
.training-top .name {
  margin-bottom: 8px;
}
.training-list {
  position: relative;
}
.training .swiper-button-prev {
  left: -20px;
}
.training .swiper-button-next {
  right: -20px;
}
.training .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-top: -20px;
  transition: all 0.3s ease;
}
.training .custom-btn:hover {
  background-color: var(--color-primary);
}
.training .custom-btn:hover svg path {
  stroke: #fff;
}
.training .custom-btn::after {
  content: "";
  font-size: 0;
}
.training .custom-btn svg {
  width: 13px;
  height: 9px;
}
.training .custom-btn svg path {
  transition: all 0.3s ease;
}

.team {
  padding: 24px 40px 48px;
}
.team-title {
  margin-bottom: 24px;
}
.team-right {
  width: 100%;
  aspect-ratio: 555/620;
  overflow: hidden;
}
.team-left {
  background-color: #f6f6f6;
  height: 100%;
  margin-right: calc(8.3333333333% + 48px);
  margin-left: calc(8.3333333333% + 48px);
  padding-top: 48px;
  position: relative;
}
.team .team-image .img {
  width: 100%;
  aspect-ratio: 555/620;
}
.team .team-image .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 0;
  top: auto;
  bottom: 40px;
  transition: all 0.3s ease;
}
.team .custom-btn:hover {
  background-color: var(--color-primary);
}
.team .custom-btn:hover svg path {
  stroke: #fff;
}
.team .custom-btn::after {
  content: "";
  font-size: 0;
}
.team .custom-btn svg {
  width: 13px;
  height: 9px;
}
.team .custom-btn svg path {
  transition: all 0.3s ease;
}
.team .swiper-button-prev {
  left: 0;
}
.team .swiper-button-next {
  right: auto;
  left: 50px;
}
.team .swiper-pagination {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: max-content;
  left: auto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}
.team-box .name {
  margin-bottom: 8px;
}
.team-box-desc {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.team-box-item-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.team-box-item ul {
  list-style-type: disc;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.team-col {
  background-color: #f6f6f6;
  position: relative;
  height: 100%;
}
.team-col .ic-student {
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 3;
}

.info {
  background: linear-gradient(180deg, #3b527c -7.67%, #132349 100%);
  padding: 80px 0;
  position: relative;
}
.info::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icon/union.png");
  bottom: 0;
  left: 0;
  right: 0;
  height: 330px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.info .info-why-title {
  margin-bottom: 96px;
}
.info .info-why-item .big-title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  background: linear-gradient(81.77deg, #ffffff 1.5%, #d9a640 90.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 48px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.info .info-why-item .big-title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 10px;
  background: transparent;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.info .info-why-item .description {
  text-align: center;
}
.info .info-why-item .description .text {
  margin-bottom: 8px;
}
.info .info-why-item .description .content {
  padding: 0 20px;
}
.info .info-why-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 100px;
}
.info .marquee-container {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.info .marquee-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 80px;
}
.info .marquee-item {
  width: 136px;
  min-width: 136px;
  height: 136px;
}
.info .partner-title {
  margin-bottom: 70px;
  position: relative;
  z-index: 2;
}