:root {
  --color-primary: #112448;
  --color-secondary: #d9a640;
  --color-third: #50984f;
  --color-white: #ffffff;
  --color-black: #000000;
}

.b2-font-r {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.btn-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.b2-font-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.color-white {
  color: #ffffff;
}

.h2-font {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .h2-font {
    font-size: 20px;
  }
}

.b1-font-r {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .b1-font-r {
    font-size: 15px;
    line-height: 24px;
  }
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-third {
  color: var(--color-third);
}

.b1-font-b {
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "Montserrat", sans-serif;
}

.global-btn {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  background-color: var(--color-secondary);
  transition: all 0.3s ease;
  display: inline-block;
}
.global-btn:hover {
  color: #fff;
  background-color: var(--color-third);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-container {
  background-color: #fff;
  padding: 9px 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid var(--color-primary);
}
@media (max-width: 991px) {
  .header-container {
    padding: 8.5px 20px;
    height: 60px;
  }
}
@media (max-width: 991px) {
  .header-logo {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .header-logo a {
    display: block;
    width: 125px;
    height: auto;
  }
}
.header-menu {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header-menu {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    height: calc(100vh - 60px);
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .header-menu.active {
    transform: translateX(0);
  }
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 991px) {
  .header-menu ul {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 24px;
  }
}
@media (max-width: 991px) {
  .header-menu ul li {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgba(17, 36, 72, 0.1);
    padding-bottom: 4px;
  }
}
.header-menu ul li a {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
  transition: color 0.3s ease-in-out;
}
.header-menu ul li a:hover {
  color: var(--color-secondary);
}
.header-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 991px) {
  .header-login {
    grid-column: 3/4;
    gap: 18px;
  }
}
.header-login .logion-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 991px) {
  .header-login .logion-wrapper {
    border-right: 1px solid rgba(17, 36, 72, 0.21);
    padding-right: 18px;
  }
}
.header-login .logion-wrapper .login-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-primary);
}
@media (max-width: 991px) {
  .header-login .logion-wrapper .login-text {
    font-size: 14px;
    line-height: 24px;
  }
}
.header-hambuger {
  display: none;
}
@media (max-width: 991px) {
  .header-hambuger {
    display: block;
  }
}
.header-hambuger .icon {
  width: 19px;
  height: 10px;
  position: relative;
}
.header-hambuger .icon::before {
  content: "";
  position: absolute;
  inset: -18px;
}
.header-hambuger .icon.active span:nth-child(1) {
  top: 4.5px;
  transform: rotate(135deg);
}
.header-hambuger .icon.active span:nth-child(2) {
  opacity: 0;
}
.header-hambuger .icon.active span:nth-child(3) {
  top: 4.5px;
  transform: rotate(-135deg);
}
.header-hambuger .icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  left: 0;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.header-hambuger .icon span:nth-child(1) {
  top: 0;
}
.header-hambuger .icon span:nth-child(2) {
  top: 4.5px;
}
.header-hambuger .icon span:nth-child(3) {
  top: 9px;
}

#footer {
  position: relative;
  z-index: 3;
}

.footer-container {
  padding: 30px 40px 45px;
  background-color: var(--color-primary);
}
@media (max-width: 991px) {
  .footer-container {
    padding: 20px 20px 24px;
  }
}
@media (max-width: 991px) {
  .footer-logo {
    width: 117px;
    height: auto;
  }
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 4fr 2fr;
  gap: 24px;
}
@media (max-width: 991px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
}
.footer-title {
  margin-bottom: 24px;
}
.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-contact ul li .address,
.footer-contact ul li .phone,
.footer-contact ul li .mail {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.footer-contact ul li .address .icon,
.footer-contact ul li .phone .icon,
.footer-contact ul li .mail .icon {
  width: 16px;
  height: 16px;
  transform: translateY(4px);
}
.footer-contact ul li .address .icon svg,
.footer-contact ul li .phone .icon svg,
.footer-contact ul li .mail .icon svg {
  width: 16px;
  height: 16px;
  max-width: unset;
}
.footer-contact ul li .phone a,
.footer-contact ul li .mail a {
  transition: color 0.3s ease-in-out;
}
.footer-contact ul li .phone a:hover,
.footer-contact ul li .mail a:hover {
  color: var(--color-secondary);
}
.footer-menu ul.menu {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 64px;
}
.footer-menu ul.menu li a {
  transition: color 0.3s ease-in-out;
}
.footer-menu ul.menu li a:hover {
  color: var(--color-secondary);
}
.footer-follow ul.follow-us {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 991px) {
  .footer-follow ul.follow-us {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 8px 20px;
  }
}
.footer-follow ul.follow-us li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-follow ul.follow-us li a .text {
  transition: color 0.3s ease-in-out;
}
.footer-follow ul.follow-us li a .text:hover {
  color: var(--color-secondary);
}
.footer-bottom {
  background-color: #070730;
  padding: 10px 40px;
}
@media (max-width: 991px) {
  .footer-bottom {
    padding: 10px 20px;
  }
  .footer-bottom .d-flex {
    justify-content: flex-start !important;
  }
  .footer-bottom .footer-wrapper {
    gap: 8px;
  }
  .footer-bottom .footer-wrapper .footer-empty {
    display: none;
  }
}
.footer-copyright, .footer-create {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.banner.not-home .banner-content {
  display: none;
}
.banner.not-home .banner-wrapper {
  height: 620px;
}
@media (max-width: 991px) {
  .banner.not-home .banner-wrapper {
    height: 100vh;
  }
}
.banner.not-home .banner-wrapper::before {
  content: unset;
}
.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(17, 36, 72, 0) 55%, rgba(17, 36, 72, 0.8) 90%);
}
.banner-image {
  width: 100%;
  height: 100%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-video {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.banner-video source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-content {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 40px;
  max-width: 41.6666666667%;
}
@media (max-width: 991px) {
  .banner-content {
    left: 20px;
    bottom: 20px;
    right: 20px;
    max-width: calc(100% - 40px);
  }
}
.banner-content .title {
  margin-bottom: 12px;
}
.banner-content .description {
  margin-bottom: 40px;
}

.profile {
  padding: 40px 40px 80px;
  position: relative;
}
@media (max-width: 991px) {
  .profile {
    padding: 20px 20px 40px;
  }
}
.profile .ic-student {
  position: absolute;
  right: 8px;
  top: 0;
  z-index: 2;
  top: 40px;
  right: 48px;
}
@media (max-width: 991px) {
  .profile .ic-student {
    top: 20px;
    right: 40px;
    width: 47px;
  }
}
.profile::before {
  content: "";
  bottom: -30px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 295px;
  z-index: 3;
  background-image: url("../../images/icon/artwork.svg");
  background-size: 100% 100%;
  pointer-events: none;
}
@media (max-width: 991px) {
  .profile::before {
    background-size: cover;
    bottom: -180px;
  }
}
.profile-image {
  width: 100%;
  aspect-ratio: 555/620;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-content {
  padding-left: calc(8.3333333333% + 48px);
  padding-right: calc(8.3333333333% + 48px);
  background-color: #f6f6f6;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .profile-content {
    padding: 20px;
  }
}
.profile-content .name {
  margin-bottom: 8px;
}
.profile-content .position {
  margin-bottom: 24px;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile-detail-item ul {
  list-style-type: disc;
  padding-left: 22px;
}
.profile-detail-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.introduction {
  padding: 0 40px 48px;
}
@media (max-width: 991px) {
  .introduction {
    padding: 0 20px 40px;
  }
}
.introduction-title {
  position: relative;
  z-index: 4;
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .introduction-title {
    margin-bottom: 24px;
  }
}
.introduction-wrapper {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 24px;
}
@media (max-width: 991px) {
  .introduction-wrapper {
    grid-template-columns: 1fr;
  }
}
.introduction-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
  max-width: 380px;
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
  padding: 20px;
}
.introduction-item .icon {
  min-width: 60px;
}
@media (max-width: 991px) {
  .introduction .col-right {
    grid-row: 1/2;
  }
}
.introduction .col-left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
}
.introduction .col-left ul li:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
.introduction .col-left ul li:last-child {
  margin-left: 60px;
}
@media (max-width: 991px) {
  .introduction .col-left ul li:last-child {
    margin-left: 0;
  }
}
.introduction-video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 785/525;
}
.introduction-video-wrapper .ic-control {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}
.introduction .swiper-button-prev {
  left: -20px;
}
.introduction .swiper-button-next {
  right: -20px;
}

.course {
  padding: 48px 30px 38px;
  background-color: #f8f8f8;
}
@media (max-width: 991px) {
  .course {
    padding: 40px 10px 40px;
  }
}
.course.no-swiper {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 991px) {
  .course.no-swiper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.course.no-swiper .course-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
}
@media (max-width: 991px) {
  .course.no-swiper .course-list {
    grid-template-columns: 1fr;
    gap: 40px 0;
    padding-bottom: 0;
  }
}
.course-title {
  margin-bottom: 38px;
}
@media (max-width: 991px) {
  .course-title {
    margin-bottom: 14px;
  }
}
.course .course-list {
  position: relative;
}
@media (max-width: 991px) {
  .course .course-list {
    padding-bottom: 64px;
  }
}
.course .course-list .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-top: -15px;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .course .course-list .custom-btn {
    bottom: 0;
    top: auto;
  }
}
.course .course-list .custom-btn:hover {
  background-color: var(--color-primary);
}
.course .course-list .custom-btn:hover svg path {
  stroke: #fff;
}
.course .course-list .custom-btn::after {
  content: "";
  font-size: 0;
}
.course .course-list .custom-btn svg {
  width: 13px;
  height: 9px;
}
.course .course-list .custom-btn svg path {
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .course .course-list .swiper-button-prev {
    left: calc(50% - 45px);
  }
}
@media (max-width: 991px) {
  .course .course-list .swiper-button-next {
    right: calc(50% - 45px);
  }
}
.course-item {
  position: relative;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
}
.course-item:hover .course-image img {
  transform: scale(1.05);
}
.course .swiper {
  padding: 10px;
  overflow: hidden;
}
.course-content {
  padding: 24px 24px 16px;
}
@media (max-width: 991px) {
  .course-content {
    padding: 20px;
  }
}
.course-content .course-teacher {
  padding: 16px 0;
  border-top: 1px solid rgba(17, 36, 72, 0.1);
  border-bottom: 1px solid rgba(17, 36, 72, 0.1);
  margin: 16px 0;
  gap: 8px;
}
.course-content .course-top .name {
  margin-bottom: 8px;
}
.course-content .course-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-content .course-bottom .btn-register {
  gap: 8px;
}
.course-image {
  overflow: hidden;
  aspect-ratio: 440/294;
}
.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.course .swiper-button-prev {
  left: -20px;
}
.course .swiper-button-next {
  right: -20px;
}

.training {
  padding: 48px 30px 38px;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .training {
    padding: 40px 10px 40px;
  }
}
.training-title {
  margin-bottom: 38px;
}
.training .swiper {
  padding: 10px;
  overflow: hidden;
}
.training-item {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
}
.training-item:hover .training-image img {
  transform: scale(1.05);
}
.training-image {
  aspect-ratio: 325/217;
  width: 100%;
  overflow: hidden;
}
.training-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.training-content {
  padding: 24px;
}
.training-top .name {
  margin-bottom: 8px;
}
.training-list {
  position: relative;
}
@media (max-width: 991px) {
  .training-list {
    padding-bottom: 64px;
  }
}
.training .swiper-button-prev {
  left: -20px;
}
@media (max-width: 991px) {
  .training .swiper-button-prev {
    left: calc(50% - 45px);
  }
}
.training .swiper-button-next {
  right: -20px;
}
@media (max-width: 991px) {
  .training .swiper-button-next {
    right: calc(50% - 45px);
  }
}
.training .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #f8f8f8;
  margin-top: -20px;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .training .custom-btn {
    bottom: 0;
    top: auto;
  }
}
.training .custom-btn:hover {
  background-color: var(--color-primary);
}
.training .custom-btn:hover svg path {
  stroke: #fff;
}
.training .custom-btn::after {
  content: "";
  font-size: 0;
}
.training .custom-btn svg {
  width: 13px;
  height: 9px;
}
.training .custom-btn svg path {
  transition: all 0.3s ease;
}

.team {
  padding: 24px 40px 48px;
  position: relative;
}
.team .ic-student {
  position: absolute;
  top: 75px;
  left: 48px;
  z-index: 3;
}
@media (max-width: 991px) {
  .team .ic-student {
    top: 90px;
    right: 40px;
    left: auto;
  }
}
@media (max-width: 991px) {
  .team {
    padding: 40px 20px;
  }
}
.team-title {
  margin-bottom: 24px;
}
.team-right {
  width: 100%;
  aspect-ratio: 555/620;
  overflow: hidden;
}
@media (max-width: 991px) {
  .team-right {
    aspect-ratio: 335/375;
  }
}
.team-left {
  background-color: #f6f6f6;
  height: 100%;
  margin-right: calc(8.3333333333% + 48px);
  margin-left: calc(8.3333333333% + 48px);
  padding-top: 48px;
  position: relative;
}
@media (max-width: 991px) {
  .team-left {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
}
.team .team-image .img {
  width: 100%;
  aspect-ratio: 555/620;
}
@media (max-width: 991px) {
  .team .team-image .img {
    aspect-ratio: 335/375;
  }
}
.team .team-image .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 0;
  top: auto;
  bottom: 40px;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .team .custom-btn {
    bottom: 20px;
  }
}
.team .custom-btn:hover {
  background-color: var(--color-primary);
}
.team .custom-btn:hover svg path {
  stroke: #fff;
}
.team .custom-btn::after {
  content: "";
  font-size: 0;
}
.team .custom-btn svg {
  width: 13px;
  height: 9px;
}
.team .custom-btn svg path {
  transition: all 0.3s ease;
}
.team .swiper-button-prev {
  left: 0;
}
.team .swiper-button-next {
  right: auto;
  left: 50px;
}
.team .swiper-pagination {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: max-content;
  left: auto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .team .swiper-pagination {
    bottom: 28px;
  }
}
.team-box .name {
  margin-bottom: 8px;
}
.team-box-desc {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.team-box-item-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.team-box-item ul {
  list-style-type: disc;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.team-col {
  background-color: #f6f6f6;
  position: relative;
  height: 100%;
}

.info {
  background: linear-gradient(180deg, #3b527c -7.67%, #132349 100%);
  padding: 80px 0;
  position: relative;
}
@media (max-width: 991px) {
  .info {
    padding: 40px 0;
  }
}
.info.not-home {
  background: #fff;
  padding-bottom: 0;
}
.info.not-home .info-why-item .big-title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  background: linear-gradient(80.53deg, #112448 -8.86%, #d9a640 29.79%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent !important;
  margin-bottom: 48px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .info.not-home .info-why-item .big-title {
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 24px;
  }
}
.info.not-home::before {
  content: unset;
}
.info.not-home .info-why {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 24px;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .info.not-home .info-why {
    grid-template-columns: 1fr;
    padding: 0 20px;
    margin-bottom: 40px;
    gap: 16px;
  }
}
.info::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icon/union.png");
  bottom: 0;
  left: 0;
  right: 0;
  height: 330px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.info .info-why-title {
  margin-bottom: 96px;
}
@media (max-width: 991px) {
  .info .info-why-title {
    margin-bottom: 40px;
  }
}
.info .info-why-item .big-title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  background: linear-gradient(81.77deg, #ffffff 1.5%, #d9a640 90.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 48px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .info .info-why-item .big-title {
    font-size: 48px;
    line-height: 80px;
  }
}
.info .info-why-item .big-title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 10px;
  background: transparent;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.info .info-why-item .description {
  text-align: center;
}
.info .info-why-item .description .text {
  margin-bottom: 8px;
}
.info .info-why-item .description .content {
  padding: 0 20px;
}
.info .info-why-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .info .info-why-list {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 40px;
  }
}
.info .marquee-container {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.info .marquee-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 80px;
}
@media (max-width: 991px) {
  .info .marquee-content {
    gap: 40px;
  }
}
.info .marquee-item {
  width: 136px;
  min-width: 136px;
  height: 136px;
}
@media (max-width: 991px) {
  .info .marquee-item {
    width: 68px;
    min-width: 68px;
    height: 68px;
  }
}
.info .partner-title {
  margin-bottom: 70px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .info .partner-title {
    margin-bottom: 40px;
  }
}

.form-register {
  padding-bottom: 115px;
  padding-top: 48px;
  position: relative;
}
@media (max-width: 991px) {
  .form-register {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
}
.form-register.no-artwork {
  padding-bottom: 48px;
}
.form-register.no-artwork::before {
  content: unset;
}
.form-register.no-form {
  padding: 90px 0;
}
@media (max-width: 991px) {
  .form-register.no-form {
    padding: 80px 20px;
  }
}
.form-register.no-form .title {
  margin-bottom: 24px;
}
.form-register.no-form button {
  max-width: 440px;
  width: 100%;
}
.form-register.no-form .btn-register {
  position: relative;
  z-index: 2;
}
.form-register::before {
  content: "";
  bottom: 0px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 295px;
  z-index: 2;
  background-image: url("../../images/icon/artwork.svg");
  background-size: 100% 100%;
  transform: scaleX(-1);
  pointer-events: none;
}
@media (max-width: 991px) {
  .form-register::before {
    background-size: cover;
    bottom: -100px;
  }
}
.form-register .form-register-top {
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .form-register .form-register-top {
    margin-bottom: 24px;
  }
}
.form-register .form-register-top .title {
  margin-bottom: 8px;
}
.form-register .form-register-wrapper {
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
  padding: 40px;
}
@media (max-width: 991px) {
  .form-register .form-register-wrapper {
    padding: 20px;
  }
}
.form-register .form-register-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  position: relative;
  z-index: 4;
}
@media (max-width: 991px) {
  .form-register .form-register-wrapper form {
    display: flex;
    flex-direction: column;
  }
}
.form-register .form-register-wrapper form .form-field {
  position: relative;
}
.form-register .form-register-wrapper form .form-field input {
  width: 100%;
  border: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(26, 61, 78, 0.3);
  color: var(--color-text);
}
.form-register .form-register-wrapper form .form-field input:not(:placeholder-shown) + label, .form-register .form-register-wrapper form .form-field input:focus + label, .form-register .form-register-wrapper form .form-field input:focus-visible + label {
  transform: translateY(-100%);
  font-size: 10px;
  line-height: 14px;
}
.form-register .form-register-wrapper form .form-field label {
  position: absolute;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  left: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}
.form-register .form-register-wrapper form .form-field label span {
  color: #ff0000;
}
.form-register .dropdown-custom-select {
  position: relative;
}
.form-register .dropdown-custom-select .dropdown-custom-menu {
  position: absolute;
  left: 0;
  width: calc(100% + 12px);
  z-index: 1;
  background-color: #fff;
  bottom: 0;
  left: -12px;
  transform: translateY(100%);
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.3s ease;
  will-change: clip-path;
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 12px;
  background-color: var(--color-primary);
}
.form-register .dropdown-custom-select .dropdown-custom-menu.dropdown--active {
  clip-path: inset(0 0 0 0);
}
.form-register .dropdown-custom-select .dropdown-custom-text,
.form-register .dropdown-custom-select .dropdown-custom-item {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}
.form-register .dropdown-custom-select .dropdown-custom-text span,
.form-register .dropdown-custom-select .dropdown-custom-item span {
  color: #ff0000;
}
.form-register .dropdown-custom-select .dropdown-custom-item {
  color: #fff;
}
.form-register .dropdown-custom-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(26, 61, 78, 0.3);
  padding-bottom: 6px;
}
.form-register button {
  grid-column: 1/3;
  background-color: var(--color-primary);
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  height: 40px;
  transition: all 0.3s;
}
.form-register button:hover {
  background-color: var(--color-secondary);
}
.form-register .form-text-area {
  position: relative;
  grid-column: 1/3;
}
@media (max-width: 991px) {
  .form-register .form-text-area {
    margin-top: 16px;
  }
}
.form-register .form-text-area textarea {
  resize: none;
  width: 100%;
  border: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  border-bottom: 1px solid rgba(26, 61, 78, 0.3);
  color: var(--color-text);
}
.form-register .form-text-area textarea:not(:placeholder-shown) + label, .form-register .form-text-area textarea:focus + label, .form-register .form-text-area textarea:focus-visible + label {
  transform: translateY(-100%);
  font-size: 10px;
  line-height: 14px;
}
.form-register .form-text-area label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  transition: all 0.4s ease;
  pointer-events: none;
}

.contact-wrap-right {
  padding-left: calc(8.3333333333% + 40px);
  padding-right: calc(8.3333333333% + 40px);
  padding-top: 107px;
  position: relative;
  z-index: 3;
}
.contact-wrap-right .contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-wrap-right .contact-info-item .title {
  margin-bottom: 12px;
}
.contact-wrap-right .contact-info-item a {
  transition: color 0.3s ease;
}
.contact-wrap-right .contact-info-item a:hover {
  color: var(--color-secondary);
}
.contact-wrap-right .contact-info-item ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contact-wrap-right .contact-info-item ul li a:hover svg path {
  fill: var(--color-secondary);
}
.contact-wrap-right .contact-info-item ul li a svg path {
  transition: all 0.3s ease;
}

.value {
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .value {
    margin-bottom: 40px;
  }
}
.value-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .value-wrapper {
    flex-direction: column;
    gap: 24px;
  }
}
.value-image {
  width: 50%;
}
@media (max-width: 991px) {
  .value-image {
    width: 100%;
  }
}
.value-image .img {
  width: 100%;
  aspect-ratio: 555/370;
}
@media (max-width: 991px) {
  .value-image .img {
    aspect-ratio: 335/225 !important;
  }
}
.value-image .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.value-content {
  width: 50%;
  position: relative;
}
@media (max-width: 991px) {
  .value-content {
    width: 100%;
  }
}
.value-content .art-work {
  position: absolute;
  bottom: 0;
  left: -15%;
  z-index: -1;
}
.value-box {
  padding-left: 80px;
  padding-right: 8.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
@media (max-width: 991px) {
  .value-box {
    padding-left: 0;
    padding-right: 0;
  }
}
.value-item {
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .value-item {
    padding: 0 20px;
    margin-bottom: 40px;
  }
}
.value-item-ul .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.value-item:nth-child(1) .art-work {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  right: 0;
  z-index: -1;
}
.value-item:nth-child(2) .art-work {
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  right: 0;
  z-index: -1;
}
.value-item:nth-child(2) .value-wrapper {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .value-item:nth-child(2) .value-wrapper {
    flex-direction: column;
  }
}
.value-item:nth-child(2) ul.desc {
  list-style-type: disc;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.value-item:last-child {
  margin-bottom: 0;
}
.value-item:last-child .value-image .img {
  width: 100%;
  aspect-ratio: 555/600;
}
.value-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.value-list ul {
  list-style-type: disc;
  padding-left: 22px;
}
.value-list ul li p {
  font-size: 15px;
  line-height: 24px;
  color: var(--color-primary);
}

.our-services {
  background: linear-gradient(180deg, #3b527c -7.67%, #132349 100%);
  padding: 80px 0 100px;
}
@media (max-width: 991px) {
  .our-services {
    padding: 40px 20px;
  }
}
.our-services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width: 991px) {
  .our-services-wrapper {
    grid-template-columns: 1fr;
  }
}
.our-services-title {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .our-services-title {
    margin-bottom: 40px;
  }
}
.our-services-item .icon {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .our-services-item .icon {
    margin-bottom: 24px;
  }
}
.our-services-item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.our-services-item .content .description {
  text-align: center;
}

.instruct {
  padding-bottom: 86px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
@media (max-width: 991px) {
  .instruct {
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.instruct::before {
  content: "";
  bottom: 0px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 295px;
  z-index: 2;
  background-image: url("../../images/icon/artwork.svg");
  background-size: 100% 100%;
  transform: scaleX(-1);
  pointer-events: none;
}
.instruct-title {
  margin-bottom: 48px;
}
.instruct-video {
  position: relative;
}
.instruct-video .ic-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruct-video .ic-control svg {
  width: 6px;
  height: 7px;
}
.instruct-list {
  position: relative;
  z-index: 3;
}
@media (max-width: 991px) {
  .instruct-list {
    padding-bottom: 64px;
  }
}
.instruct-list .swiper {
  overflow: hidden;
  padding: 10px;
}
.instruct-list .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #f8f8f8;
  margin-top: -20px;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .instruct-list .custom-btn {
    bottom: 0;
    top: auto;
  }
}
.instruct-list .custom-btn:hover {
  background-color: var(--color-primary);
}
.instruct-list .custom-btn:hover svg path {
  stroke: #fff;
}
.instruct-list .custom-btn::after {
  content: "";
  font-size: 0;
}
.instruct-list .custom-btn svg {
  width: 13px;
  height: 9px;
}
.instruct-list .custom-btn svg path {
  transition: all 0.3s ease;
}
.instruct-list .swiper-button-prev {
  left: -20px;
}
@media (max-width: 991px) {
  .instruct-list .swiper-button-prev {
    left: calc(50% - 45px);
  }
}
.instruct-list .swiper-button-next {
  right: -20px;
}
@media (max-width: 991px) {
  .instruct-list .swiper-button-next {
    right: calc(50% - 45px);
  }
}
.instruct-name {
  background-color: #fff;
  padding: 24px;
}
.instruct-item {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
}

.feeback-sec {
  padding: 80px 0;
  background-color: #f8f8f8;
}
.feeback-sec .feedback-wrap {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 24px;
  margin-bottom: 80px;
}
.feeback-sec .swiper {
  padding: 10px;
  overflow: hidden;
}
.feeback-sec .feedback-teach {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.feeback-sec .feedback-teach .swiper-button-next {
  right: -54px;
}
.feeback-sec .feedback-teach .swiper-button-prev {
  left: -54px;
}
.feeback-sec .feedback-video {
  margin-top: 40px;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
.feeback-sec .feedback-video .swiper-button-next {
  right: -54px;
}
.feeback-sec .feedback-video .swiper-button-prev {
  left: -54px;
}
.feeback-sec .custom-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-top: -20px;
  transition: all 0.3s ease;
}
.feeback-sec .custom-btn:hover {
  background-color: var(--color-primary);
}
.feeback-sec .custom-btn:hover svg path {
  stroke: #fff;
}
.feeback-sec .custom-btn::after {
  content: "";
  font-size: 0;
}
.feeback-sec .custom-btn svg {
  width: 13px;
  height: 9px;
}
.feeback-sec .custom-btn svg path {
  transition: all 0.3s ease;
}
.feeback-sec .teach-item {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1019607843);
  padding: 40px 40px 24px;
  border-bottom: 2px solid var(--color-primary);
}
.feeback-sec .teach-item .info-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 24px;
  border-top: 1px solid rgba(17, 36, 72, 0.1);
  margin-top: 40px;
}
.feeback-sec .teach-item .info-wrap .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.section-news {
  padding: 48px 0;
}
.section-news .nav-tabs {
  justify-content: center;
  margin-bottom: 48px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(17, 36, 72, 0.1);
  gap: 24px;
}
.section-news .nav-tabs .nav-link {
  border-radius: unset;
  border: none;
  padding: 0;
  transition: all 0.4s ease;
  position: relative;
}
.section-news .nav-tabs .nav-link.active, .section-news .nav-tabs .nav-link:hover {
  color: var(--color-secondary);
}
.section-news .nav-tabs .nav-link::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-secondary);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.section-news .nav-tabs .nav-link.active::after, .section-news .nav-tabs .nav-link:hover::after {
  opacity: 1;
}
.section-news .fade {
  transition: opacity 0.3s linear;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
}
.news-list li {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.news-item {
  position: relative;
}
.news-item .item-image {
  width: 100%;
  aspect-ratio: 363/242;
  overflow: hidden;
}
.news-item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.news-item .item-content {
  padding: 24px;
}
.news-item .item-content .title {
  transition: all 0.4s ease;
}
.news-item .item-content .desc {
  margin-top: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-item .date {
  width: 64px;
  height: 64px;
  background-color: var(--color-white);
  position: absolute;
  z-index: 3;
  top: 16px;
  left: 16px;
}
.news-item:hover .item-image img {
  transform: scale(1.05);
}
.news-item:hover .title {
  color: var(--color-secondary);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  gap: 12px;
}
@media (max-width: 991px) {
  .pagination {
    margin-top: 16px;
  }
}
.pagination .page-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  background-color: transparent;
  color: var(--color-primary);
  transition: all 0.4s ease;
  border: 1px solid var(--color-primary);
}
@media (max-width: 991px) {
  .pagination .page-number {
    width: 30px;
    height: 30px;
  }
}
.pagination .page-number:hover, .pagination .page-number.active {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-color: var(--color-secondary);
}
.pagination .page-number.active {
  pointer-events: none;
}
.pagination .page-number.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.news-detail-wrapper {
  padding: 80px 0;
  border-bottom: 1px solid rgba(17, 36, 72, 0.1);
}
.news-detail-wrapper .date {
  margin-top: 8px;
}
.news-detail-wrapper .the-content {
  margin-top: 24px;
}
.news-detail-wrapper .the-content p {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 12px;
}
.news-detail-wrapper .the-content .wp-block-image {
  margin: 24px 0;
  width: 100%;
}
.news-detail-wrapper .the-content .wp-block-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.news-detail-wrapper .the-content * {
  font-size: 17px;
  line-height: 24px;
  color: var(--color-primary);
}
.news-detail-wrapper .the-content *:last-child {
  margin-bottom: 0;
}
.news-detail-wrapper .the-content h1,
.news-detail-wrapper .the-content h2,
.news-detail-wrapper .the-content h3,
.news-detail-wrapper .the-content h4,
.news-detail-wrapper .the-content h5,
.news-detail-wrapper .the-content h6 {
  margin-top: 24px;
  margin-bottom: 27px;
  margin-bottom: 12px;
  font-weight: bold;
}
.news-detail-wrapper .the-content ul {
  list-style: disc;
  padding-left: 16px;
  margin-bottom: 12px;
}
.news-detail-wrapper .the-content ol {
  list-style: decimal;
  padding-left: 16px;
  margin-bottom: 12px;
}
.news-detail-wrapper .the-content a {
  transition: all 0.4s ease;
}
.news-detail-wrapper .the-content a:hover {
  color: var(--color-secondary);
}

.my-course {
  margin-top: 60px;
}
.my-course-wrapper {
  padding: 80px 40px 40px;
}
.my-course-wrapper .col-left {
  padding-right: 8.3333333333%;
}
.my-course-wrapper .col-left .desc {
  margin-top: 34px;
  color: rgba(17, 36, 72, 0.5);
}
.my-course-wrapper .col-right .nav-tabs {
  justify-content: flex-start;
  margin-bottom: 24px;
  padding-bottom: 13px;
  gap: 48px;
  border-bottom: 1px dashed rgba(17, 36, 72, 0.5);
}
.my-course-wrapper .col-right .nav-tabs .nav-link {
  border-radius: unset;
  border: none;
  padding: 0;
  transition: all 0.4s ease;
  position: relative;
}
.my-course-wrapper .col-right .nav-tabs .nav-link.active, .my-course-wrapper .col-right .nav-tabs .nav-link:hover {
  color: var(--color-primary);
}
.my-course-wrapper .col-right .nav-tabs .nav-link::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.my-course-wrapper .col-right .nav-tabs .nav-link.active::after, .my-course-wrapper .col-right .nav-tabs .nav-link:hover::after {
  opacity: 1;
}
.my-course-wrapper .col-right .fade {
  transition: opacity 0.3s linear;
}
.my-course-wrapper .col-right .course-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.my-course-wrapper .col-right .course-list .course-item .name {
  margin-bottom: 0;
}
.my-course-wrapper .col-right .course-list .course-item .course-teacher {
  margin-top: 40px;
  margin-bottom: 0;
  padding-top: 0;
  border-top: unset;
}
.my-course-wrapper .col-right .course-list .course-item .course-progress {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 25px;
}
.my-course-wrapper .col-right .course-list .course-item .course-progress .text {
  width: 50px;
}
.my-course-wrapper .col-right .course-list .course-item .course-progress .progress-bar {
  flex: 1;
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  overflow: hidden;
  background: var(--color-white);
  box-shadow: inset 0 0 2px 0 rgba(17, 36, 72, 0.2);
}
.my-course-wrapper .col-right .course-list .course-item .course-progress .progress-bar::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  height: calc(100% - 4px);
  width: calc(var(--progress) - 4px);
  background: var(--color-secondary);
  transition: width 0.3s ease;
  border-radius: 50px 0 0 50px;
}
.my-course-wrapper .col-right .course-list .course-item .course-progress .progress-bar .progress-value {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 8px;
  line-height: 11px;
  font-weight: 600;
  color: var(--color-primary);
  pointer-events: none;
}
.my-course-wrapper .col-right .course-list .course-item .course-cta {
  padding-top: 16% px;
}
.my-course-wrapper .col-right .course-list .course-item .course-cta a {
  background-color: var(--color-white);
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  text-transform: uppercase;
  height: 40px;
  transition: all 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-course-wrapper .col-right .course-list .course-item .course-cta a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.course-detail {
  margin-top: 60px;
  background-color: #f8f8f8;
}
.course-detail__video .video {
  width: 100%;
  aspect-ratio: 1055/593;
  background-color: aliceblue;
}
.course-detail__video .announcement {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--color-third);
}
.course-detail__content {
  padding: 40px;
}
.course-detail__content .content-top {
  margin-bottom: 40px;
}
.course-detail__content .teacher span {
  margin-left: 8px;
}
.course-detail__content .content-tabs .nav-tabs {
  justify-content: flex-start;
  padding-bottom: 13px;
  gap: 48px;
  border-bottom: 1px dashed rgba(17, 36, 72, 0.5);
}
.course-detail__content .content-tabs .nav-tabs .nav-link {
  border-radius: unset;
  border: none;
  padding: 0;
  transition: all 0.4s ease;
  position: relative;
}
.course-detail__content .content-tabs .nav-tabs .nav-link.active, .course-detail__content .content-tabs .nav-tabs .nav-link:hover {
  color: var(--color-primary);
}
.course-detail__content .content-tabs .nav-tabs .nav-link::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.course-detail__content .content-tabs .nav-tabs .nav-link.active::after, .course-detail__content .content-tabs .nav-tabs .nav-link:hover::after {
  opacity: 1;
}
.course-detail__content .content-tabs .fade {
  transition: opacity 0.3s linear;
}
.course-detail__content .content-tabs .tab-pane {
  padding: 40px 0;
  border-bottom: 1px solid rgba(17, 36, 72, 0.2);
}
.course-detail__content .content-tabs .tab-pane * {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-primary);
}
.course-detail__content .content-tabs .tab-pane *:first-child {
  margin-top: 0;
}
.course-detail__content .content-tabs .tab-pane h1,
.course-detail__content .content-tabs .tab-pane h2,
.course-detail__content .content-tabs .tab-pane h3,
.course-detail__content .content-tabs .tab-pane h4,
.course-detail__content .content-tabs .tab-pane h5,
.course-detail__content .content-tabs .tab-pane h6,
.course-detail__content .content-tabs .tab-pane strong {
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 24px;
}
.course-detail__content .content-tabs .tab-pane p {
  margin-bottom: 8px;
}
.course-detail__content .content-tabs .tab-pane a {
  color: var(--color-secondary);
}
.course-detail__content .content-tabs .tab-pane ul {
  list-style: disc;
  padding-left: 16px;
}
.course-detail__content .content-tabs .tab-pane ol {
  list-style: decimal;
  padding-left: 16px;
}
.course-detail__content .content-tabs .tab-pane .list-document {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.course-detail__content .content-tabs .tab-pane .list-document .item {
  height: 40px;
  background-color: var(--color-white);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.course-detail__content .content-tabs .tab-pane .list-document .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.course-detail__content .content-tabs .tab-pane .list-document .icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 12px;
}
.course-detail__content .content-tabs .tab-pane .list-document .download-link {
  width: 24px;
  height: 24px;
  color: var(--color-primary);
  display: block;
}
.course-detail__content .content-tabs .tab-pane .list-document .download-link svg path {
  transition: all 0.4s ease;
}
.course-detail__content .content-tabs .tab-pane .list-document .download-link:hover svg path {
  stroke: var(--color-secondary);
}
.course-detail .col-left .btn-back {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  padding-left: 36px;
  width: max-content;
  cursor: pointer;
  margin-top: 24px;
}
.course-detail .col-left .btn-back .icon {
  transition: all 0.4s ease;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.course-detail .col-left .btn-back:hover {
  color: var(--color-secondary);
}
.course-detail .col-left .btn-back:hover .icon {
  transform: translateX(-5px) translateY(-50%);
}
.course-detail .col-right .course-progress {
  padding: 12px 40px 12px 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: var(--color-primary);
}
.course-detail .col-right .course-progress .text {
  width: 50px;
}
.course-detail .col-right .course-progress .progress-bar {
  flex: 1;
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  overflow: hidden;
  background: var(--color-white);
  box-shadow: inset 0 0 2px 0 rgba(17, 36, 72, 0.2);
}
.course-detail .col-right .course-progress .progress-bar::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  height: calc(100% - 4px);
  width: calc(var(--progress) - 4px);
  background: var(--color-secondary);
  transition: width 0.3s ease;
  border-radius: 50px 0 0 50px;
}
.course-detail .col-right .course-progress .progress-bar .progress-value {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 8px;
  line-height: 11px;
  font-weight: 600;
  color: var(--color-primary);
  pointer-events: none;
}
.course-detail .col-right .title {
  padding: 20px 40px 20px 20px;
  color: rgba(17, 36, 72, 0.5);
}
.course-detail .col-right .accordion-item {
  border-radius: unset;
  border: none;
  border-top: 1px solid rgba(17, 36, 72, 0.2);
}
.course-detail .col-right .accordion-item:last-child {
  border-bottom: 1px solid rgba(17, 36, 72, 0.2);
}
.course-detail .col-right .accordion-button {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  border-radius: unset;
  box-shadow: unset;
  position: relative;
}
.course-detail .col-right .accordion-button::after {
  position: absolute;
  top: 20px;
  transform: translateY(50%);
  right: 40px;
  width: 14px;
  height: 14px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23112448'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") !important;
}
.course-detail .col-right .accordion-button[aria-expanded=true]::after {
  transform: translateY(50%) rotate(-180deg);
}
.course-detail .col-right .accordion-collapse {
  border-top: 1px solid rgba(17, 36, 72, 0.2);
}
.course-detail .col-right .accordion-collapse .accordion-body {
  padding: 24px 40px 20px;
}
.course-detail .col-right .lesson-list .lesson-item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(17, 36, 72, 0.2);
  position: relative;
}
.course-detail .col-right .lesson-list .lesson-item:first-child {
  padding-top: 0;
}
.course-detail .col-right .lesson-list .lesson-item:last-child {
  border-bottom: unset;
  padding-bottom: 0;
}
.course-detail .col-right .lesson-list .lesson-item::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 5px;
  left: -22px;
  background-color: rgba(17, 36, 72, 0.2);
}
.course-detail .col-right .lesson-list .lesson-item.done::before {
  background-color: var(--color-primary);
}
.course-detail .col-right .lesson-list .lesson-item.done .lesson-icon::after {
  display: block;
}
.course-detail .col-right .lesson-list .lesson-icon {
  width: 19px;
  height: 19px;
  background-color: var(--color-white);
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  position: absolute;
  top: 3px;
  left: -12px;
  transform: translateX(-100%);
}
.course-detail .col-right .lesson-list .lesson-icon::after {
  display: none;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  background-image: url("../../images/icon/icon-stick.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.course-detail .col-right .lesson-list .lesson-sub {
  opacity: 50%;
}
.course-detail .col-right .lesson-list .lesson-sub .icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 8px;
}
.course-detail .col-right .lesson-list .lesson-cta {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.course-detail .col-right .lesson-list .lesson-cta .cta-item {
  font-size: 8px;
  line-height: 16px;
  color: var(--color-white);
  height: 24px;
  background-color: rgba(17, 36, 72, 0.3);
  padding: 4px 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  cursor: pointer;
}
.course-detail .col-right .lesson-list .lesson-cta .cta-item.continue {
  background-color: var(--color-secondary);
}
.course-detail .col-right .lesson-list .lesson-cta .cta-item:hover {
  background-color: var(--color-primary) !important;
}